body {
    background-color: #cce6f4;
    font-family: Georgia;
    text-align: justify;
}

h1 {
    color: #000000;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  video{
    margin-left: 170px;
    margin-right: 170px;
  }

  th {
    background-color: #e6f4cc;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  tr{
    background-color: #f4cce6;
  }

  #sucesos tr:hover {
    background-color: #c72ae3;
  }
